
<section>
    <h3>Write a review for {{restaurant.name}}</h3>
    <!-- {{ formData.value | json }} -->
    <div class="register">
      <form (submit)="onAdd(formData.value)" #formData="ngForm" >
        <div>
          <label for="customer">Your name: </label>
          <input type="text"
          name="customer"
          [(ngModel)]="review.customer"
          required
          minlength="3"
          #customer="ngModel">
        </div>
        <div>
          <label for="rating">Stars: </label>
          <select
          name="rating"
          [(ngModel)]="review.rating"
          required
          #rating="ngModel">
            <option value=5>5 stars</option>
            <option value=4>4 stars</option>
            <option value=3>3 stars</option>
            <option value=2>2 stars</option>
            <option value=1>1 star</option>
          </select>
        </div>
        <div>
          <label for="review">Your review: </label>
          <input type="text"
          name="review"
          [(ngModel)]="review.review"
          required
          minlength="3"
          #review="ngModel">
      </div>
      <button class="btn-blue" [disabled]="!formData.valid">Submit</button>
      <button class="btn-red" type='button' (click)="onCancel()">Cancel</button>
    </form>
      <!-- data form validations -->
      <div class="warn" *ngIf="customer.touched && customer.errors">
        <div *ngIf='customer.errors.required'>You must enter a restaurant name. </div>
        <div *ngIf='customer.errors.minlength'>Restaurant name must be at least 3 characters. </div>
      </div>
      <div class="warn" *ngIf="rating.touched && rating.errors">
        <div *ngIf='rating.errors.required'>You must select a rating. </div>
      </div>
      <div class="warn" *ngIf="review.touched && review.errors">
        <div *ngIf='review.errors.required'>You must enter a review. </div>
        <div *ngIf='review.errors.minlength'>Review must be at least 3 characters. </div>
      </div>
      <!-- end validations -->
    </div>
  </section>
