<h3>Login:</h3>
<form (submit)="login(formLogin.value)" #formLogin="ngForm" >
  <div>
    <label for="email">Email: </label>
    <input type="text"
      name="email"
      [(ngModel)]="user.email"
      required
      minlength="3"
      #name="ngModel">
  </div>
  <div>
    <label for="password">Password: </label>
    <input type="password"
      name="password"
      [(ngModel)]="user.password"
      #position="ngModel">
  </div>
    <button [disabled]="!formLogin.valid">Login</button>
</form>
<!-- data form validations -->
<div *ngIf="name.touched && name.errors">
    <div *ngIf='name.errors.required'>You must enter a name. </div>
    <div *ngIf='name.errors.minlength'>Player name must be at least 3 characters. </div>
</div>
  <!-- end validations -->
