div{
  margin: 10px;
}

.register{
  border: 1px solid black;
  width: 500px;
  padding: 10px;
}


.btn-red {
  background-color: darkred;
  color: white;
  width: 130px;
  height: 40px;
}
.btn-blue {
  background-color: darkblue;
  color: white;
  width: 130px;
  height: 40px;
}

.warn {
  color:red;
}
