<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Car</title>
</head>
<body>
    <h1>Add a new car:</h1>
    <form action="">
        <p>
            <label for="make">Enter Car Make</label>
            <input type="text" name="make" id="make">
        </p>
        <p>
            <label for="model">Enter Car Model</label>
            <input type="text" name="model" id="model">
        </p>
        <p>
            <input type="submit" value="add Car">
        </p>
    </form>
</body>
</html>