<section>
  <div class="row">
    <div class="location">
      <h1>Farm</h1>
      <p>Earns 2-5 Gold</p>
      <button (click)="getGold('farm')">Farm!</button>
    </div>
    <div class="location">
      <h1>Cave</h1>
      <p>Earns 5-10 Gold</p>
      <button (click)="getGold('cave')">Cave!</button>
    </div>
    <div class="location">
      <h1>Casino</h1>
      <p>Earn/Lose 100 Gold</p>
      <button (click)="getGold('casino')">Casino!</button>
    </div>
    <div class="location">
      <h1>House</h1>
      <p>Earns 7-15 Gold</p>
      <button (click)="getGold('house')">House!</button>
    </div>
  </div>
</section>
