*{
  margin:0;
  padding:0;
}

.row {
  border: 1px solid black;
  display: inline-block;
}

.location {
  border: 1px solid black;
  width: 150px;
  padding:10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;

}

button{
  width: 100px;
  height: 50px;
  color: blue;
  border-radius: 5px;

}
