<html>
<head>
  <title>Add Bears</title>
</head>
  <body>
  <h3>Add a Bear</h3>
  <form action='/bears' method='POST'>
    <label for="name">Name:<input type="text" name="name"></label>
    <label for="type">Type:<input type="text" name="type"></label>
    <label for="weight">Weight:<input type="text" name="weight"></label>
    <input id="submit" type="submit" value="Add Bear">
  </form>
  <a href="/">Go back</a>
</body>
</html>