<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <h1>Awesome Cars</h1>
    <img src="mercedes.jpg" alt="mercedes">
    <img src="lambo.jpg" alt="lambo">
    <img src="ferrari.jpg" alt="ferrari">
    <img src="bmw.jpg" alt="bmw">
</body>
</html>