<div class="container">
    <h1>Bicycle MarketPlace</h1>
    <ul>
      <li>
        <a [routerLink]="['/browse']">Browse</a>
      </li>
      <li>|</li>
      <li>
        <a [routerLink]="['/listings']">My Listings</a>
      </li>
      <li>|</li>
      <li>
        <button (click)=logout()>Log Out</button>
        <!-- <a [routerLink]="['']" onClick="logout()">Log Out</a> -->
        <!-- <a href="#" onClick="logout()">Log Out</a> -->
      </li>
    </ul>
    <router-outlet></router-outlet>
  </div>
