*{
  margin:0;
  padding:0;
}

div {
  margin-bottom: 10px;
}

h3 {
  margin: 10px;
}

div.container {
  width: 970px;
  margin: 0 auto;
  text-align: center;
  color: #1b4d86;
}

ul li {
  list-style: none;
  display: inline-block;
  margin-left: 10px;

}


table {
  border: 1px solid black;
}
tr:nth-child(even) {
  background-color: #CCC;
}

tr:nth-child(odd) {
  background-color: #FFF;
}
td{
  width: 300px;
}

th {
  text-align: left;
}

.btn-red {
  background-color: darkred;
  color: white;
}

.btn-green {
  background-color: darkgreen;
  color: white;
}
