
*{
    margin:0;
    padding:0;
}

h1{
    color:navy;
}

h2{
    color:navy;
}

p{
    margin-bottom:10px;
}

.container{
    width: 90%;
    margin-left: 20px;
}

.form{
    width: 40%;
    min-height: 100px;
    border: solid 1px navy;
    padding: 10px;
}

.class{
    color: red;
}




/* .switch{
    width: 55px;
    height: 55px;
    display: inline-block;
    border: solid 1px navy;
    margin-left: 5px;
    vertical-align: middle;
    color: navy;
    background-color: gray;
    
} */

/* button{
    width: 40px;
    height: 40px;
    border: solid 1px navy;
    color: white;
    background-color: red;
    margin: 0 auto;
    margin-top: 8px;
    font-weight: bold;
    padding: 4px;
} */

