<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
    <link rel="stylesheet" type="text/css" href="./style.css">
</head>
<body>
    <h1>Awesome Cars</h1>
    <a href="/mercedes"><img src="mercedes.jpg" alt="mercedes"></a>
    <a href="/lambo"><img src="lambo.jpg" alt="lambo"></a>
    <a href="/ferrari"><img src="ferrari.jpg" alt="ferrari"></a>
    <a href="/bmw"><img src="bmw.jpg" alt="bmw"></a>
</body>
</html>