
div.product {
  width: 320px;
  text-align: center;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  border: 1px solid navy;

}

button{
  width: 200px;
  height: 35px;
  border-radius: 5px;
  border: 2px solid navy;
}

