<section>
  <h1>Edit Product ID: {{product.id}}</h1>
  <form (submit)="update($event)" #formData="ngForm">
    <p>
      <label for="title">Title </label>
      <input type="text" name="title" placeholder="required" required [(ngModel)]="product.title">
    </p>
    <p>
      <label for="price">Price </label>
      <input type="text" name="price" placeholder="required" required [(ngModel)]="product.price">
    </p>
    <p>
      <label for="imageUrl">ImageUrl </label>
      <input type="text" name="imageUrl" [(ngModel)]="product.imageUrl">
    </p>
    <input type="submit" [disabled]="!formData.valid" value="Update" id='submitBtn'>
  </form>
</section>
