<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>Welcome to the Quoting Dojo</h1>
    <div id="quotes">
        <h2>Some of my favorite quotes!</div>
            <% for (var x in quotes){ %>
            <fieldset>
                <p>"<%= quotes[x].quote %>"</p>
                <p>&nbsp&nbsp-<%= quotes[x].name %> at <%= quotes[x].createdAt %> </p>
            </fieldset>
            <% } %>
    </div>
    <a href="/">Return</a>
</body>
</html>